@charset "utf-8";
/* CSS Document */
*{margin:0;
	padding:0;
	border:0; 
	/*font-size:100%; */
	/*font:inherit;*/
	vertical-align:baseline; 
	outline:0;
	margin:0 auto;
}
html{margin:0 auto;
	background:#fff;
	}
body{/*background-color:#ff0;*/
	color:#2C2C2C;
	font:normal 100% Arial, Tahoma;
	/*height:1000px;*/
	
	background-image:url(img/img009.png);
	background-color:#fff;
	background-repeat: no-repeat;
	background-position: right top;
}
html,body,div {
  width: 100%;
  height: 100%;
  margin: 0;
}
.showhide {  
   display:none;
}

img{max-width:100%;
	border:none;
}
#hidden_div {
    display: none;
}
#wrapper{
	width:80%;
	height:100%;
	/*margin: 15px;*/
	padding: 5% 5% 0 5%;
	/*background-color:#f00;*/
	
}
.header{/*background:url(images/bgHeader.png) 0 0 repeat-x;*/
		left:0;
		height:119px;
		position:relative;
}
#wrapper object {
	width:30%;
	/*background-color: orange;*/
	margin: 2% 1% 0 1%;
	display: none;
	/*overflow-x:auto;*/
}

#wrapper #rating_DEA_routes  tbody tr:nth-child(odd) {
  background-color: #ff33cc !important;
}

#wrapper #rating_DEA_routes  tbody tr:nth-child(even) {
  background-color: #e495e4 !important;
}
#rating_list select{
	border: 1px red;
}


select {
    border: 2px solid #eee;
    border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    width: 50%;
    height: 35px;
    line-height: 35px;
    background: #FFF;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    outline:none;
    padding-left: 15px;
    box-shadow: 3px 3px 30px #eee;
    transition: 0.2s;
}

select:focus, select:hover {
  box-shadow: 3px 3px 10px #eee
}
  
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
  
select::-ms-expand {
    display: none;
}
  
.select-arrow {
    color: #333;
    right:0px;
    top: 10px;
    width:30px;
    position:absolute;
    display:block;
    z-index: 10;
    margin: 0 0 0 0;
    pointer-events:none;
}
/*
#wrapper #rating_DEA_routes {
  background-color: #ff33cc !important;
  border: 5px solid red !important;
} 
table#rating_DEA_routes{
	background-color: green !important;
}*/

#wrapper #rating_DEA_routes  td:nth-child(2),
th:nth-child(2){
  background: yellow;
}


a#arrowUp{position:fixed;
	width:4%; /* 100px/ 250px */
	bottom:1%; 
	right:1%;
}
a#arrowUp, #authorization{display:none;}

a#arrowUp:before {position:absolute;
	margin:-15px 0 0 0;
}

